---
import Header from "../../components/pt/Header.astro";
import About from "../../components/pt/About.astro";
import '../../styles/base.css'
import Experience from "../../components/Experience.astro";
---

<html lang="en" class="text-[16px] font-[Monserrat,sans-serif]">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="/css/fontawesome.min.css" rel="stylesheet" />
  <link href="/css/solid.min.css" rel="stylesheet" />
  <title>Osmanys Fuentes Lombá - Desenvolvedor Web Frontend</title>
  <meta name="description"
        content="Desenvolvedor web frontend com mais de cinco anos
            de experiência usando ReactJS para construção de aplicações de alto
            desempenho. Baseado em Santiago de Cuba desde 1989.">
  <meta name="author" content="Osmanys Fuentes Lombá">
</head>
<body class="bg-white dark:bg-[#131516] dark:text-[#F2F3F4]">
<Header />
<About />
<Experience />
</body>
</html>
