/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #007f7f;
    --color: #1D2122;
    --background: #F2F3F4;
    --alternate-background: #CDD2D4;
    --hover-background: #007d8a;
    --input-color: #131313;
    --input-background: #F2F3F4;
    --input-background-focus: #EEE;
    --header-nav-background: #ececec;
    --link-hover-brightness: 85%;
    --default-weigth: 400;
    --heading-weight: 500;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #009394;
        --color: #F2F3F4;
        --background: #131516;
        --alternate-background: #1D2122;
        --hover-background: #006270;
        --input-background-focus: #e2e2e2;
        --header-nav-background: #003535;
        --link-hover-brightness: 115%;
        --default-weigth: 300;
        --heading-weight: 400;
    }
}

* {
    transition-duration: 630ms;
}

html {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: var(--default-weigth);
    letter-spacing: 0.05rem;
    line-height: 1.35;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: var(--heading-weight);
    line-height: 1.22;
}

a {
    color: var(--primary-color);
}

a:hover {
    filter: brightness(var(--link-hover-brightness));
}

input:not(:has([type='submit'],[type='reset'],[type='button'])), textarea {
    background-color: var(--input-background);
    color: var(--input-color)
}

input:not(:has([type='submit'],[type='reset'],[type='button'])):focus, textarea:focus {
    background-color: var(--input-background-focus);
}

.top-nav {
    animation-name: adjust-nav-bar-container;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes adjust-nav-bar-container {
    from {
        height: 112px;
    }

    to {
        height: 38px;
        background-color: var(--header-nav-background);
    }
}

.top-nav nav {
    animation: adjust-nav-bar linear both;
    animation-fill-mode: both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes adjust-nav-bar {
    to {
        padding: 8px 0;
    }
}

svg, path, i, svg ~ span {
    transition-duration: 0s;
}

section:nth-of-type(odd) {
    background: var(--alternate-background);
}

form label, label:has(~ input, ~ textarea) {
    font-weight: 200;
}