---
import Header from "../../components/en/Header.astro";
import About from "../../components/en/About.astro";
import Projects from "../../components/en/Projects.astro";
import "../../styles/base.css";
import Experience from "../../components/Experience.astro";
import Contact from "../../components/en/Contact.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="/css/fontawesome.min.css" rel="stylesheet" />
  <link href="/css/solid.min.css" rel="stylesheet" />
  <title>Osmanys Fuentes Lombá - Frontend Web Developer</title>
  <meta name="description"
        content="Frontend web developer with more than five years of experience
          using ReactJS for building high performance applications. Based on Santiago de Cuba since 1989.">
  <meta name="author" content="Osmanys Fuentes Lombá">
</head>
<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-29XVS1GZY4"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-29XVS1GZY4');
</script>
<body class="bg-base text-default">
<Header />
<About />
<Experience />
<Projects />
<Contact />
</body>
</html>
