---
import LinkButton from "../LinkButton.astro";
---

<section>
  <div class="max-w-[1560px] mx-auto px-10 lg:px-16 pt-10">
    <h4 id="about"
        class="text-2xl lg:text-3xl text-center uppercase text-primary mb-12">
      About me</h4>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-32 items-center">
      <div class="xl:col-start-1 xl:col-end-6">
        <img src="/images/about.webp" alt=""
             class="h-full w-auto object-cover mx-auto hidden dark:block" />
        <img src="/images/about_light.webp" alt=""
             class="h-full w-auto object-cover mx-auto dark:hidden" />
      </div>
      <div
        class="xl:col-start-7 xl:col-end-13 max-w-[724px] xl:-ml-10 my-10 md:my-28">
        <p class="text-4xl">Hello!</p>
        <p class="text-4xl">I&apos;m Osmanys Fuentes</p>
        <p class="mt-[19px] text-xl md:text-2xl text-primary">
          Frontend Web Developer</p>
        <p class="mt-11 text-lg md:text-[22px]">
          Me formei em Física pela Universidad de Oriente em 2014, mas programar
          era minha verdadeira paixão. Com alguma experiência com algoritmos e
          linguagens de programação comecei a trabalhar como desenvolvedor web
          profissional em 2018.
          </p><p class="text-lg md:text-[22px] mt-2">Desde então, o desenvolvimento frontend parece
          ser a área com mais afinidade para mim embora o desenvolvimento
          backend não seja completamente indiferente. Atualmente estou
          vivenciando o mercado fintech trabalhando na Datamart.
        </p>
        <div
          class="flex flex-col md:flex-row mt-9 md:mt-24 text-lg gap-14 md:gap-[119px] mb-11 md:mb-9">
          <ul class="flex flex-col gap-6">
            <li>
              <a href="mailto:ossmanys@gmail.com" class="hover:brightness-125">
                <i class="fa-solid fa-envelope mr-1 text-primary"></i>
                ossmanys@gmail.com
              </a>
            </li>
            <li><a href="tel:+5355330476" class="hover:brightness-125">
              <i class="fa-solid fa-phone mr-1 text-primary"></i>
              (+53) 553-30-476</a></li>
            <li><i class="fa-solid fa-location-dot mr-1 text-primary"></i>
              Santiago de Cuba, Cuba
            </li>
            <li><i class="fa-solid fa-calendar mr-1 text-primary"></i>
              1989/11/15
            </li>
          </ul>
          <div>
            <h6 class="text-2xl mb-6">Main skills</h6>
            <ul
              class="flex flex-col gap-3.5 border-primary border-l-2 pl-2.5 py-0.5 italic">
              <li>
                <span>React, NextJS, Remix, Typescript</span>
              </li>
              <li>
                <span>TailwindCSS, Bootstrap, SASS</span>
              </li>
              <li>
                <span>Posgresql, SQLite, Symfony</span>
              </li>
              <li>
                <span>Git, AWS, Linux</span>
              </li>
              <li>
                <span>Spanish, English, Portuguese, Italian</span>
              </li>
            </ul>
          </div>
        </div>
        <LinkButton url="/files/OsmanysFL_resume_en.pdf"
                    download="OsmanysFuentesLomba-RESUME.pdf"
                    text="Full resume" icon="fa-file-lines" />
      </div>
    </div>
  </div>
</section>