---
import projects from "../../data/projects_pt";
import ProjectItem from "./ProjectItem.astro";
---

<section>
  <div class="max-w-[1560px] mx-auto px-10 lg:px-16 py-10">
    <h2 id="projects"
        class="text-2xl lg:text-3xl text-center uppercase text-primary mb-12">
      Proyetos pessoais
    </h2>
    <div class="flex flex-col items-center gap-20 mt-20">
      {projects.map(item => <ProjectItem {...item} />)}
    </div>
  </div>
</section>