@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 198, 198, 198;
    --background-start-rgb: 0, 49, 62;
    --background-end-rgb: 0, 10, 13;
  }
}

body {
  color: rgba(var(--foreground-rgb), .9);
  background: radial-gradient(circle at 20% 0%,
  rgb(var(--background-start-rgb)) 0%,
  rgb(var(--background-end-rgb)) 70%
  ) no-repeat fixed;
}

::selection {
  background: #134e4a;
  color: #ccfbf1;
}

a {
  color: #2dd4bf;
}

a:hover {
  color: #14b8a6;
}

.nav-item:hover {
  opacity: 1;
}

.nav-item:hover hr {
  width: 77px;
  opacity: 1;
}
