---
const {text, icon, classes, ...rest} = Astro.props
---

<button class={`flex justify-center items-center gap-1.5 uppercase p-[10px_20px] rounded-md bg-primary text-white hover:bg-primary-hover font-medium text-lg w-fit ${classes}`} {...rest}>
  {text}{icon ? <i class={`fa-solid ${icon}`} />:null}</button>
