---
const {url, text, icon, ...rest} = Astro.props
---

<a href={url} class="flex justify-center items-center gap-2.5 uppercase p-[10px_20px] rounded-md bg-primary text-white hover:bg-primary-hover text-lg w-fit" {...rest}>
  {text}{icon ? <i class={`fa-solid ${icon}`} />:null}</a>
