---

import ProjectDetails from "./ProjectDetails.astro";---

<section class="bg-white dark:bg-gray-900 antialiased">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white">
                Selected Projects
            </h2>
            <p class="mt-4 text-base font-normal text-gray-500 sm:text-xl dark:text-gray-400">
                Crafted with skill and care to help our clients grow their business!
            </p>
        </div>

        <div class="grid grid-cols-1 mt-12 sm:mt-16 gap-8 lg:gap-12 sm:grid-cols-2 lg:grid-cols-3">
            <div class="space-y-4">
                <img src="/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp" alt="project-img" class="w-full h-auto object-contain rounded-lg">
                <span class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
                    Alphabet Inc.
                </span>
                <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
                    Official website
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Flowbite helps you connect with friends, family and communities of people who share your interests.
                </p>

                <ProjectDetails url="#" />
            </div>

            <div class="space-y-4">
                <img src="/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp" alt="project-img" class="w-full h-auto object-contain rounded-lg">
                <span class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
                    Microsoft Corp.
                </span>
                <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
                    Management system
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Flowbite helps you connect with friends, family and communities of people who share your interests.
                </p>

                <ProjectDetails url="#" />
            </div>

            <div class="space-y-4">
                <img src="/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp" alt="project-img" class="w-full h-auto object-contain rounded-lg">
                <span class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
                    Microsoft Corp.
                </span>
                <h3 class="text-2xl font-bold leading-tight text-gray-900 dark:text-white">
                    Logo design
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Flowbite helps you connect with friends, family and communities of people who share your interests.
                </p>
                <ProjectDetails url="#" />
            </div>
        </div>
    </div>
</section>