---
import React from './brand-logos/React.astro'
import Next from "./brand-logos/Next.astro";
import AstroLogo from "./brand-logos/Astro.astro";
import Remix from "./brand-logos/Remix.astro";
import Typescript from "./brand-logos/Typescript.astro";
import Javascript from "./brand-logos/Javascript.astro";
import CSS3 from "./brand-logos/CSS3.astro";
import SASS from "./brand-logos/SASS.astro";
import AntD from "./brand-logos/AntD.astro";
import Bootstrap from "./brand-logos/Bootstrap.astro";
import Jest from "./brand-logos/Jest.astro";
import Mocha from "./brand-logos/Mocha.astro";
import MUI from "./brand-logos/MUI.astro";
import StyledComponents from "./brand-logos/StyledComponents.astro";
import TailwindCSS from "./brand-logos/TailwindCSS.astro";
import TestingLibrary from "./brand-logos/TestingLibrary.astro";
import Vite from "./brand-logos/Vite.astro";
import Webpack from "./brand-logos/Webpack.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">
      What's in the Toolbox
    </h2>
    <div class="grid grid-cols-4 gap-8 text-gray-500 md:grid-cols-6 md:gap-12 lg:grid-cols-8 lg:gap-20 dark:text-gray-400">
        <React />
      <Next />
      <AstroLogo />
      <Remix />
      <Typescript />
      <Javascript />
      <CSS3 />
      <SASS />
      <AntD />
      <Bootstrap />
      <Jest />
      <Mocha />
      <MUI />
      <StyledComponents />
      <TailwindCSS />
      <TestingLibrary />
      <Vite />
      <Webpack />
    </div>
  </div>
</section>