---
import React from "./brand-logos/React.astro";
import Next from "./brand-logos/Next.astro";
import AstroLogo from "./brand-logos/Astro.astro";
import Remix from "./brand-logos/Remix.astro";
import Typescript from "./brand-logos/Typescript.astro";
import Javascript from "./brand-logos/Javascript.astro";
import CSS3 from "./brand-logos/CSS3.astro";
import SASS from "./brand-logos/SASS.astro";
import AntD from "./brand-logos/AntD.astro";
import Bootstrap from "./brand-logos/Bootstrap.astro";
import Jest from "./brand-logos/Jest.astro";
import Mocha from "./brand-logos/Mocha.astro";
import MUI from "./brand-logos/MUI.astro";
import StyledComponents from "./brand-logos/StyledComponents.astro";
import TailwindCSS from "./brand-logos/TailwindCSS.astro";
import TestingLibrary from "./brand-logos/TestingLibrary.astro";
import Vite from "./brand-logos/Vite.astro";
import Webpack from "./brand-logos/Webpack.astro";
import AWS from "./brand-logos/AWS.astro";
import Axios from "./brand-logos/Axios.astro";
import Bitbucket from "./brand-logos/Bitbucket.astro";
import Docker from "./brand-logos/Docker.astro";
import Express from "./brand-logos/Express.astro";
import Git from "./brand-logos/Git.astro";
import Github from "./brand-logos/Github.astro";
import Bash from "./brand-logos/Bash.astro";
import GoogleAnalytics from "./brand-logos/GoogleAnalytics.astro";
import GoogleTagManager from "./brand-logos/GoogleTagManager.astro";
import GrapQL from "./brand-logos/GrapQL.astro";
import Jira from "./brand-logos/Jira.astro";
import Linux from "./brand-logos/Linux.astro";
import MySQL from "./brand-logos/MySQL.astro";
import NPM from "./brand-logos/NPM.astro";
import OpenSUSE from "./brand-logos/OpenSUSE.astro";
import PHP from "./brand-logos/PHP.astro";
import PNPM from "./brand-logos/PNPM.astro";
import PostgreSQL from "./brand-logos/PostgreSQL.astro";
import Redux from "./brand-logos/Redux.astro";
import Slack from "./brand-logos/Slack.astro";
import SQLite from "./brand-logos/SQLite.astro";
import Swagger from "./brand-logos/Swagger.astro";
import Symfony from "./brand-logos/Symfony.astro";
import WebStorm from "./brand-logos/WebStorm.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <div class="max-w-2xl mx-auto text-center mb-8 lg:mb-16">
      <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white">
        What's in the Toolbox
      </h2>
      <p class="mt-4 text-base font-normal text-gray-500 sm:text-xl dark:text-gray-400">
        Frameworks, libraries and tools I'm used to work with in my day-to-day
      </p>
    </div>

    <div
      class="grid grid-cols-3 gap-x-2 gap-y-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-12 xl:gap-20 place-items-center text-gray-600 dark:text-gray-400">
      <React />
      <Next />
      <AstroLogo />
      <Remix />
      <Typescript />
      <Javascript />
      <CSS3 />
      <SASS />
      <AntD />
      <Bootstrap />
      <Jest />
      <Mocha />
      <MUI />
      <StyledComponents />
      <TailwindCSS />
      <TestingLibrary />
      <Vite />
      <Webpack />
      <AWS />
      <Axios />
      <Bitbucket />
      <Docker />
      <Express />
      <Git />
      <Github />
      <Bash />
      <GoogleAnalytics />
      <GoogleTagManager />
      <GrapQL />
      <Jira />
      <Linux />
      <MySQL />
      <NPM />
      <OpenSUSE />
      <PHP />
      <PNPM />
      <PostgreSQL />
      <Redux />
      <Slack />
      <SQLite />
      <Swagger />
      <Symfony />
      <WebStorm />
    </div>
  </div>
</section>