---

---

<section class="bg-[#1D2122]">
  <div class="max-w-[1560px] mx-auto px-10 lg:px-16 pt-10">
    <h2 id="about"
      class="font-semibold text-2xl lg:text-3xl leading-[1.2] text-center tracking-[0.19em] uppercase text-[#009394] mb-12">
      About me</h2>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-32 items-center">
      <div class="xl:col-start-1 xl:col-end-6">
        <img src="/images/about.webp" alt=""
             class="h-full w-auto object-cover mx-auto" />
      </div>
      <div class="xl:col-start-7 xl:col-end-13 max-w-[724px] xl:-ml-10 my-28">
        <p class="font-bold text-4xl leading-[1.2]">Hello!</p>
        <p class="font-bold text-4xl leading-[1.2]">I&apos;m Osmanys Fuentes</p>
        <p class="mt-[19px] font-bold text-xl md:text-2xl leading-[1.23] text-[#009394]">
          Frontend Web Developer</p>
        <p class="mt-11 font-medium text-lg md:text-[22px] leading-[1.25] lg:leading-[1.227]">
          Obtained my degree in Physics from the Universidad de Oriente in 2014,
          but programming was my real passion. With some background with
          algorithms
          and programming languages I started to work as a professional web
          developer
          in 2018. Since then, frontend development seems to be the field with
          more
          affinity to me although backend development is not completely
          indifferent.
          Currently I&apos;m experiencing the fintech market working at
          Datamart.
          In my spare time I like to watch movies with my family, going out for
          a walk
          and thinking in projects that may increase my abilities and perhaps
          also
          my savings 😅.
        </p>
        <div class="flex flex-col md:flex-row mt-9 md:mt-24 text-lg leading-[1.22] gap-14 md:gap-[119px] mb-11 md:mb-9">
          <ul class="flex flex-col gap-6">
            <li>
              <a href="mailto:ossmanys@gmail.com" class="hover:brightness-125">
                <i class="fa-solid fa-envelope mr-1 text-[#009394]"></i>
                ossmanys@gmail.com
              </a>
            </li>
            <li><a href="tel:+5355330476" class="hover:brightness-125">
              <i class="fa-solid fa-phone mr-1 text-[#009394]"></i>
              (+53) 553-30-476</a></li>
            <li><i class="fa-solid fa-location-dot mr-1 text-[#009394]"></i>
              Santiago de Cuba, Cuba</li>
            <li><i class="fa-solid fa-calendar mr-1 text-[#009394]"></i>
              1989/11/15</li>
          </ul>
          <div>
            <h6 class="font-medium text-xl leading-[1.35] mb-6">Languages</h6>
            <ul class="flex flex-col gap-3.5">
              <li class="flex flex-col">
                <span>Spanish</span>
                <div class="w-60 mt-1.5">
                  <div class="w-full rounded-md bg-[#009394] h-3"></div>
                </div>
              </li>
              <li class="flex flex-col">
                <span>English</span>
                <div class="w-60 mt-1.5">
                  <div class="w-[79%] rounded-md bg-[#009394] h-3"></div>
                </div>
              </li>
              <li class="flex flex-col">
                <span>Portuguese</span>
                <div class="w-60 mt-1.5">
                  <div class="w-[68%] rounded-md bg-[#009394] h-3"></div>
                </div>
              </li>
              <li class="flex flex-col">
                <span>Italian</span>
                <div class="w-60 mt-1.5">
                  <div class="w-[33%] rounded-md bg-[#009394] h-3"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <a href="/files/OsmanysFL_resume_en.pdf"
           download="OsmanysFuentesLomba-RESUME.pdf"
           class="p-[10px_20px] rounded-md bg-[#009394] hover:bg-[#006270] font-medium text-lg leading-[1.22] tracking-[0.08em] w-fit">Download
          resume</a>
      </div>
    </div>
  </div>
</section>